html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.bored__app {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 47.62%
  );
  height: 100vh;
  font-weight: 400;
  color: #000000;
}

.bored__app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.bored__app-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bored__app-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 66px;
}

.bored__app-action {
  font-size: 40px;
  margin-bottom: 94px;
  text-align: center;
  height: 72px;
}

.bored__app-btn {
  font-size: 32px;
  font-family: inherit;
  width: 500px;
  height: 60px;
  padding: 11px 135px;
  box-sizing: border-box;
  background-color: #0094ff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .bored__app-inner {
    width: 100%;
  }
  .bored__app-title {
    font-size: 25px;
    margin-bottom: 46px;
  }

  .bored__app-action {
    font-size: 30px;
    margin-bottom: 64px;
  }

  .bored__app-btn {
    font-size: 32px;
    width: 100%;
  }
}
